// @import "./spinner.sass";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$dark_pageBackgroundColor: rgba(0,0,0,1);
$base_pageBackgroundColor: rgba(15,15,15,1);
$light_pageBackgroundColor: rgba(30,30,30,1);

$dark_halfOpacity_pageBackgroundColor: rgba(0,0,0,0.5);
$base_halfOpacity_pageBackgroundColor: rgba(15,15,15,0.5);
$light_halfOpacity_pageBackgroundColor: rgba(30,30,30,0.5);

$dark_fontColor: rgba(225,225,225,1);
$base_fontColor: rgba(240,240,240,1);
$light_fontColor: rgba(255,255,255,1);

$dark_inactive_fontColor: rgba(100,100,100,1);
$base_inactive_fontColor: rgba(100,100,100,1);
$light_inactive_fontColor: rgba(100,100,100,1);






// $dark_halfOpacity_fontColor: rgba(225,225,225,0.5);
// $base_halfOpacity_fontColor: rgba(240,240,240,0.5);
// $light_halfOpacity_fontColor: rgba(255,255,255,0.5);

// $dark_quarterOpacity_fontColor: rgba(225,225,225,0.25);
// $base_quarterOpacity_fontColor: rgba(240,240,240,0.25);
// $light_quarterOpacity_fontColor: rgba(255,255,255,0.25);


$dark_primaryColor: rgba(255,0,127,1); // TODO: Update
$base_primaryColor: rgba(255,0,127,1);
$light_primaryColor: rgba(255,0,127,1); // TODO: Update

$dark_secondaryColor: rgba(96,13,255,1); // TODO: Update
$base_secondaryColor: rgba(96,13,255,1); // TODO: Update
$light_secondaryColor: rgba(96,13,255,1); // TODO: Update

$dark_tertiaryColor: rgba(73,220,177,1); // TODO: Update
$base_tertiaryColor: rgba(73,220,177,1); // TODO: Update
$light_tertiaryColor: rgba(73,220,177,1); // TODO: Update

$base_primaryGradientStart: rgba(255,0,69,1);
$base_primaryGradientEnd: rgba(255,0,255,1);
$base_gradientAngle: 135deg;

$base_blurAmount: 15px;
$base_margin: 25px;
$base_borderRadius: 25px;


* {
  box-sizing: border-box;
}

/* html {
  // scroll-behavior: smooth; // Currently breaks the scroller, feedback loop needs it to jump.
  // background-color: $base_pageBackgroundColor; // This fixes the issue with overscroll looking bad on safari... BUT it hides all components with negative z index.
} */

body {
  background-color: $base_pageBackgroundColor;
  color: $base_fontColor;

  margin: 0;

  /* No horizontal scrolling */
  overflow-x: hidden;

  font-size: 12px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}


.main {
  width: 100vw;
  height: 100vh;
}


.hero_container {
  width: 100vw;
  height: 100vh;
  padding: 30px;

  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  /* background-color: rgba(255,0,255,0.5); */
}

.hero_title {
  font-weight: 900;
  font-size: 12vw;
}

.hero_subtitle {
  font-weight: 200;
  font-size: 6vw;

  background: -webkit-linear-gradient(45deg, #FF007A, #AD00FF);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}







////////////////////////////
////// Mobile Nav Bar //////
.mobileNav {
  z-index: 100;

  background-color: $base_halfOpacity_pageBackgroundColor;
  width: 100vw;
  height: 400px;
  position: fixed;

  backdrop-filter: blur($base_blurAmount);
  -webkit-backdrop-filter: blur($base_blurAmount);

  // opacity: 0;  // Animates between  0   and  1
  // top: -400px; // Animates between -400 and -300
  
  opacity: 1;  // temp for dev
  top: -300px; // temp for dev

  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.mobileNav_simpleArrow {
  position: absolute;
  height: 20px;
  right: -10px;
  bottom: 39px;
}

.mobileNav_mainContainer {
  position: absolute;
  bottom: 0px;

  height: 100px;
  width: 100vw;

  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.mobileNav_titleContainer {
  height: 100%;
  width: 100%;
  padding-left: $base_margin;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.mobileNav_title {
  height: 75px;
}

.mobileNav_cta {
  height: 35px;
  width: 90%;
  max-width: 500px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;

  border: 1px solid $base_fontColor;
  border-radius: $base_margin;

  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.mobileNav_cta:hover,
.mobileNav_cta:active {
  border-color: $base_primaryColor;
}

.mobileNav_ctaText {
  font-size: 10px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

.mobileNav_ctaLogo {
  height: 15px;
}

.mobileNav_linksContainer {
  // background-color: rgba(0,0,255,0.25);
  height: 100%;
  width: 300px;
  padding-right: $base_margin;

  display: flex;
  flex-direction: column;

  overflow-y: scroll;
  scroll-snap-type: y mandatory;

  -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 48px, black calc(100% - 48px), transparent 100%);
  mask-image: linear-gradient(to bottom, transparent 0%, black 48px, black calc(100% - 48px), transparent 100%);

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.mobileNav_linksContainer::-webkit-scrollbar {
  display: none;
}

.mobileNav_link {
  text-align: right;
  scroll-snap-align: start;
  user-select: none;

  height: 20px;
  // overflow: hidden;
  flex-shrink: 0;

  color: $base_inactive_fontColor;
  font-size: 18px;
  font-weight: 200;
  font-family: 'Montserrat', sans-serif;
}

.mobileNav_link.active {
  color: $base_fontColor;
}
////// Mobile Nav Bar //////
////////////////////////////




/////////////////////////////
////// Desktop Nav Bar //////
.desktopHeaderBar,
.desktopNav {
  display: none;
}

.desktopHeaderBar {
  z-index: 100;

  background-color: $base_halfOpacity_pageBackgroundColor;
  width: 100vw;
  height: 50px;
  position: fixed;

  opacity: 1;
  top: 0;

  backdrop-filter: blur($base_blurAmount);
  -webkit-backdrop-filter: blur($base_blurAmount);

  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.desktopNav {
  height: 100vh;
  padding-right: 30px;

  // display: flex; - Enabled in Desktop Mode
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;

  position: fixed;
  top: 0;
  right: 0;
}

.desktopNav_link {
  height: 25px;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  text-decoration: none;
  user-select: none;
  cursor: pointer;

  font-weight: 200;
  font-size: 20px;

  color: $base_inactive_fontColor;
}

.desktopNav_link.active {
  font-weight: 400;
  color: $base_fontColor;
}

.desktopNav_link:hover {
  background: -webkit-linear-gradient(45deg, #FF007A, #AD00FF);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.desktopHeaderBar_titleContainer {
  height: 100%;
  width: 100%;
  padding-left: $base_margin;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.desktopHeaderBar_title {
  height: 50px;
}
////// Desktop Nav Bar //////
/////////////////////////////



////// Sectors //////
/////////////////////
.sector {
  // min-height: 5vh;
  min-height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
}
/////////////////////
////// Sectors //////







// TEMP //
.siteConstructionPlaceholder {
  height: 100vh;
  padding: 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
// TEMP //









///////////////////////////////////////
// Desktop Exceptions (Mobile First) //
@media screen and (min-width:800px) {
  .mobileNav {
    display: none;
  }

  .desktopHeaderBar {
    display: block;
  }

  .desktopNav {
    display: flex;
  }

  .hero_title {
    font-size: 100px;
  }
  
  .hero_subtitle {
    font-size: 50px;
  }
}
// Desktop Exceptions (Mobile First) //
///////////////////////////////////////



////////////////////////////////////////
// Light Mode Exceptions (Dark First) //
@media (prefers-color-scheme: light) {
  // TODO
}
// Light Mode Exceptions (Dark First) //
////////////////////////////////////////